{% extends 'base.html' %}

{% block title %}
    {{users.user_fname}} {{users.user_lname}}
{% endblock %}

{% block content %}

    <!-- Catch error using this condition -->
    {% if error_message %}
    <p class="alert alert-danger">
        <strong>{{error_message}}</strong> <!--the error_message came from the parameter in the views.py try function-->
    </p>
    {% endif %}

    <form action="{% url 'users:processedit' users.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} <!--require for security/make sure it request inside application only-->

        <div class="form-group">
            <label for="">Firstname</label>
            <input type="text" id="fname" name="fname" class="form-control" required value="{{users.user_fname}}">
        </div>

        <div class="form-group">
            <label for="">Lastname</label>
            <input type="text" id="lname" name="lname" class="form-control" required value="{{users.user_lname}}">
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="email" id="email" name="email" class="form-control" required value="{{users.user_email}}">
        </div>

        <div class="form-group">
            <label for="">Position</label>
            <input type="text" id="position" name="position" class="form-control" value="{{users.user_position}}">
        </div>

        <div class="form-group">
            <label for="">User Image</label>
            <input type="file" id="image" name="image">
        </div>

        <button type="submit" class="btn btn-primary mt-2"> Update </button>
    </form>

{% endblock %}