{% extends 'base.html' %}

{% block title %}
Web Dev
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Table Body</h1>
    {% if page_obj %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th class="text-center">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for user in page_obj %}
                <tr>
                    <td>{{user.user_fname}}</td>
                    <td>{{user.user_lname}}</td>
                    <td>{{user.user_email}}</td>
                    <td class="text-center">
                        <a href="{% url 'users:detail' user.id %}"> <!--added link with parameter of user.id as their unique value-->
                            <img src="media/{{user.user_image}}" alt="userimage" width="50" class="rounded-circle">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">previous</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">&raquo; last</a></li>
            {% endif %}
        </ul>

    </div>
    {% else %} <!--recently added this code in case no data is found-->>
        <p>No record found</p>

    {% endif %}

{% endblock %}